<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Test Suite" parallel="tests" thread-count="3">
	 <listeners>
        <listener class-name="reporting.ExtentReportConfig"></listener>
    </listeners>
	 <test name="Read Data">
    <classes>
      <class name="TestRunner.ReadWriteToExcelTest"/>
    </classes>
  </test>
  <test name="Add Comment Test">
    <classes>
      <class name="TestRunner.AddCommentTest"/>
    </classes>
  </test>
</suite>
